.page-container {
  @apply flex flex-col bg-brand-700;
  min-height: 75vh;
}

.admin-page-container {
  @apply bg-brand-50;
}

.main-page-content {
  margin: 0;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  @apply flex-1 mx-auto h-auto xl:max-w-screen-xl;
}
