@use '@angular/material' as mat;

// Define custom palettes
$possible-x-portal-primary: mat.define-palette((
  100: #3b5987,
  200: #34517e,
  300: #2c4873,
  400: #263e66,
  500: #1e2e4d,
  600: #1a2743,
  700: #16203a,
  800: #121931,
  900: #0e1228,
  A100: #4a5770,
  A200: #3e4a63,
  A400: #323d56,
  contrast: (
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
  )
));

$possible-x-portal-accent: mat.define-palette((
  100: #95a1bb,
  200: #7f8da9,
  300: #697998,
  400: #5b6b87,
  500: #4a5770,
  600: #404c63,
  700: #364156,
  800: #2c3649,
  900: #222b3c,
  A100: #6a738f,
  A200: #5e6782,
  A400: #525b75,
  contrast: (
    100: black,
    200: black,
    300: black,
    400: black,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
  )
));

$possible-x-portal-warn: mat.define-palette((
  100: #ed716f,
  200: #f84f49,
  300: #fc3c2b,
  400: #ee322c,
  500: #DC2626,
  600: #C21F1F,
  700: #A81919,
  800: #8E1313,
  900: #740D0D,
  A100: #F04A4A,
  A200: #E83E3E,
  A400: #E03232,
  contrast: (
    100: black,
    200: black,
    300: black,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
  )
));

// Create the theme
$possible-x-portal-theme: mat.define-light-theme((
  color: (
    primary: $possible-x-portal-primary,
    accent: $possible-x-portal-accent,
    warn: $possible-x-portal-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

// Include core styles and theme styles
@include mat.core();
@include mat.core-theme($possible-x-portal-theme);
@include mat.all-component-themes($possible-x-portal-theme);
