<div class="p-4">
  <h2 class="font-bold">Registration Requests</h2><br/>

  <div class="accordion-header grid grid-cols-4 gap-5" matSort>
    <span id="name" mat-sort-header="name">Organization Name</span>
    <span id="status" mat-sort-header="status">Registration Request Status</span>
  </div>

  <c-accordion>
    <app-registration-request (response)="showResponse($event)" *ngFor="let request of registrationRequests.data"
                              [request]="request"></app-registration-request>
  </c-accordion>
  <mat-paginator (page)="onPageChange($event)"
                 [length]="totalNumberOfRegistrationRequests"
                 [pageIndex]="pageIndex"
                 [pageSizeOptions]="[5, 10, 20]"
                 [pageSize]="pageSize"
                 [showFirstLastButtons]='true'
                 class="custom-paginator">
  </mat-paginator>
</div>

<c-modal #responseModal id="responseModal">
  <c-modal-header>
    Response
  </c-modal-header>
  <c-modal-body>
    <app-status-message
      #operationStatusMessage
      [errorMessage]="'Operation failed.'"
      [infoMessage]="'Operation ongoing.'"
      [successMessage]="'Operation successful.'">
    </app-status-message>
  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="responseModal.id" cButton color="secondary">Close</button>
  </c-modal-footer>
</c-modal>

<div class="flex justify-center mt-3">
  <app-status-message
    #requestListStatusMessage
    [errorMessage]="'Loading registration requests failed.'"
    [infoMessage]="'Loading registration requests ongoing.'"
    [successMessage]="'Loading registration requests successful.'">
  </app-status-message>
</div>
