apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "possible-x-edc-management.fullname" . }}
  labels:
    {{- include "possible-x-edc-management.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "possible-x-edc-management.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "possible-x-edc-management.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 8080
          envFrom:
          {{- range .Values.application.secrets }}
          - secretRef:
              name: {{ . }}
          {{- end }}
          {{- range .Values.application.variables }}
          - configMapRef:
              name: {{ .name }}
          {{- end }}