<div class="grid-container">
  <div class="background-container">
    <div class="text-overlay">
      <div class="image-container">
        <img alt="POSSIBLE-X Logo" id="possible-logo" src="assets/images/brand/possible_white.svg" width="300">
        <label class="text-2.5xl" for="possible-logo">sovereign data sharing</label>
      </div>
      <br/><br/>
      <span class="text-4xl">Welcome to the POSSIBLE-X ecosystem</span>
      <br/>
      Discover a new way of sharing data in a secure and sovereign way. Our innovative ecosystem enables organizations
      and their employees to effortlessly tap into data spaces from different areas while ensuring self-determined
      handling of their data.
      <br/><br/>
      Take advantage of data space technology and accelerate the development of new solutions and services.
      <br/><br/><br/><br/>
      <a [href]="environment.possible_website_url" class="custom-button-small" target="_blank">
        Find out more
      </a>
    </div>
  </div>
  <div class="text-2xl link-container">
    <a [href]="catalogUiUrl" class="custom-button" target="_blank">
      Search in POSSIBLE-X Catalogue
    </a>

    <a [routerLink]="['/participant/registration']" class="custom-button">
      Register Organization
    </a>
  </div>
</div>

