<div class="grid-container">
    <div class="text-overlay">
      <span class="text-4xl">Impressum</span>
      <br><br><br>
      Name: Dataport - Anstalt des öffentlichen Rechts<br>
      Adresse: Altenholzer Straße 10-14; 24161 Altenholz<br>
      Telefon: 0431 3295-0<br>
      E-Mail: poststelle@dataport.de<br>
      Webseite: <a href="https://www.dataport.de" class="custom-link" target="_blank">https://www.dataport.de/</a><br>
      AGB: <a href="https://www.dataport.de/agb" class="custom-link" target="_blank">https://www.dataport.de/agb/</a><br>
      Datenschutz: <a href="https://www.dataport.de/datenschutz/" class="custom-link" target="_blank">https://www.dataport.de/datenschutz/</a><br>
      <br><hr><br>
      USt-IdNr. gemäß § 27a Umsatzsteuergesetz: DE813840400<br>
      Verantwortlicher Redakteur: Florian Jeß (florian.jess@dataport)<br>
      Vorstand: Dr. Johann Bizer (Vorsitzender), Silke Tessmann-Storch, Andreas Reichel, Torsten Koß<br>
      <br><hr><br>
      Dieses Impressum sowie sämtliche enthaltenen Inhalte sind rein fiktiver Natur und dienen ausschließlich als Platzhalter für den nicht-produktiven Betrieb des POSSIBLE-X-Ökosystems. Die Dataport AöR fungiert in diesem Zusammenhang lediglich als vorübergehende Angabe ohne rechtlich bindende Funktion. Im Falle eines Übergangs des POSSIBLE-X-Ökosystems in einen produktiven Betrieb werden sämtliche Inhalte dieses Impressums und der zugehörigen Dokumentation entsprechend den geltenden gesetzlichen Anforderungen angepasst.<br>
      <br><hr><br>
      <span class="text-2xl">Nutzungsrechte:</span>
      <br><br>
      Die Inhalte dieser Website, einschließlich aller Texte, Bilder, Grafiken, Designs und sonstiger Materialien, sind urheberrechtlich geschützt und unterliegen den Nutzungsrechten der Dataport AöR (im Folgenden: AöR), sofern nicht anders angegeben.
Die Nutzung der Inhalte ist ausschließlich zu privaten, nicht kommerziellen Zwecken gestattet. Jede weitergehende Verwendung, insbesondere die Vervielfältigung, Verbreitung, Bearbeitung oder öffentliche Wiedergabe, bedarf der vorherigen schriftlichen Zustimmung der AöR oder des jeweiligen Rechteinhabers, sofern die Inhalte nicht ausdrücklich als frei verwendbar gekennzeichnet sind. Die AöR gewährt Ihnen ein einfaches, widerrufliches und nicht übertragbares Recht zur Nutzung der Inhalte der Website unter Beachtung der gesetzlichen Bestimmungen und dieser Nutzungsrechte. Ein Anspruch auf Bereitstellung, Aktualisierung oder Anpassung der Inhalte besteht nicht. Sollten Sie auf dieser Website Inhalte finden, die Rechte Dritter oder gesetzliche Vorschriften verletzen, bitten wir Sie, uns umgehend zu informieren. Unsere Kontaktdaten entnehmen Sie bitte dem Impressum.<br>
      <br><hr><br>
      <span class="text-2xl">Haftungshinweis:</span>
      <br><br>
      Haftung für Inhalte dieser Website:<br>
      Die Inhalte dieser Website werden von uns kontinuierlich weiterentwickelt, und wir bemühen uns, stets korrekte und aktuelle Informationen bereitzustellen. Dennoch übernehmen wir keine Haftung für die Richtigkeit, Vollständigkeit oder Aktualität sämtlicher Inhalte auf dieser Website, insbesondere nicht für Inhalte, die von Dritten bereitgestellt wurden. Als Diensteanbieter sind wir gemäß § 7 Abs. 1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
Unsere Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden entsprechender Rechtsverletzungen werden wir diese Inhalte umgehend entfernen. Falls Ihnen problematische oder rechtswidrige Inhalte auffallen, bitten wir Sie, uns unverzüglich zu kontaktieren. Die entsprechenden Kontaktdaten finden Sie in unserem Impressum.<br>
      <br><br>
      Haftung für Links auf dieser Website:<br>
      Unsere Website enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben. Für die Inhalte der verlinkten Websites übernehmen wir daher keine Gewähr. Zum Zeitpunkt der Verlinkung waren uns keine rechtswidrigen Inhalte erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Sollten uns Rechtsverletzungen bekannt werden, entfernen wir derartige Links unverzüglich.
Falls Ihnen rechtswidrige Links auf unserer Website auffallen, bitten wir Sie ebenfalls, uns zu informieren. Die Kontaktdaten finden Sie im Impressum.<br>
      <br><hr><br>
      <span class="text-2xl">Urheberrechtshinweis:</span>
      <br><br>
      Die auf dieser Website veröffentlichten Inhalte, einschließlich Bilder, Fotos, Texte und Videos, unterliegen dem deutschen Urheberrecht. Jede Vervielfältigung, Verbreitung, Bearbeitung oder sonstige Verwertung außerhalb der Grenzen des Urheberrechts bedarf unserer vorherigen schriftlichen Zustimmung. Inhalte dieser Seite, die nicht von uns erstellt wurden, sind als solche gekennzeichnet und unterliegen gegebenenfalls den Urheberrechten Dritter.
Wir behalten uns vor, im Falle unerlaubter Nutzung rechtliche Schritte einzuleiten. Sollten Sie auf unserer Website Inhalte finden, die Ihre Urheberrechte verletzen, bitten wir Sie, uns unverzüglich zu kontaktieren, damit wir die entsprechenden Inhalte entfernen können.
    </div>
</div>

