.header-wrapper {
  @apply bg-white;
  height: 8vh;
}

.header {
  @apply flex items-end justify-between;
  @apply container fixed max-w-screen-4xl px-8 py-4 xl:px-20;
  @apply pr-4;
  z-index: 998;

  .logo {
    @apply flex flex-shrink-0 items-baseline;
  }

  .navbar-nav{
    @apply flex flex-row ml-auto;
  }
}

.footer-wrapper {
  @apply overflow-hidden bg-brand-700;
  @apply w-full min-h-[40vh];
  @apply divide-y divide-brand-100;
}

.admin-footer-wrapper {
  @apply bg-brand-50;
}

.main-footer-wrapper {
  @apply border-t border-brand-100 min-h-[17vh];
}

.footer {
  @apply grid grid-cols-1 flex-wrap gap-8 md:grid-cols-3;
  @apply mx-auto max-w-screen-4xl px-8 py-10 xl:px-20;
  @apply bg-brand-700 text-white;

  .circle-visual {
    @apply absolute;
    @apply rounded-full border border-white;
    @apply h-[435px] w-[436px];
    @apply -left-[264px] -top-[60px];
  }

  .logo {
    @apply relative flex-shrink-0 self-end;
  }

  a {
    @apply no-underline text-white;
  }
}

@media (max-width: 1024px) {
  /* Maintain padding on smaller screens */
  .navbar-nav c-nav-item a[cNavLink] {
    padding-left: 0.5rem; /* Ensure padding remains */
    padding-right: 0.5rem; /* Ensure padding remains */
  }
}
