<div class="grid-container">
    <br><br>
    <div class="pb-3 text-2xl font-bold text-brand-50">
      Login Page
    </div>
  <div class="text">
    Please enter your username and password to login to the administration area.
  </div>
    <div class="input">
      <label cLabel for="username" class="text">Username:</label>
      <input class="form-control rounded-none" type="text" id="username" [(ngModel)]="username">
    </div>
    <div class="input">
      <label cLabel for="password" class="text">Password:</label>
      <input class="form-control rounded-none" type="password" id="password" [(ngModel)]="password">
    </div>
  <button shape="rounded-0" (click)="login(username, password)" cButton class="custom-button">
    Login
  </button>
</div>
